/.hg/*
/.idea/*
/log/

**/asset/dist/
**/config/*.local.js
**/web/vendor/

*.log
npm-debug.log*

pids
*.pid
*.seed

node_modules
jspm_packages
package-lock.json

.grunt
.lock-wscript
.npm
.node_repl_history
.nyc_output