.durak{
     --center-top: 240px;
     --stock-width: 20%;
     --master-cards-left: 80px;
     --opponent-opacity: 0.5;
     --active-opponent-opacity: 0.9;

     position: relative;
     height: 600px;
     pointer-events: none;
     overflow: hidden;
     user-select: none;
 }
.durak .player {
    position: relative;
}
.durak .player-name {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    min-width: 50px;
    padding: 0 6px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: var(--opponent-opacity);
}
.durak .player-avatar {
    position: absolute;
    top: 20px;
    left: 0;
    width: 52px;
    height: 54px;
    border-left: 2px solid #000;
    padding-left: 5px;
    font-size: 36px;
    text-align: left;
    line-height: 72px;
    opacity: var(--opponent-opacity);
}
.durak .player-avatar > span {
    display: none;
}
.durak [data-type="bot"] .player-avatar .bot,
.durak [data-type="remote"] .player-avatar .remote {
    display: inline-block;
}
.durak .player-stats {
    position: absolute;
    left: 64px;
    top: 55px;
}
.durak .player-stat {
    position: relative;
    display: inline-block;
    padding: 0 3px;
    line-height: 18px;
    color: #000;
    border-radius: 4px;
    font-size: 12px;
    text-align: right;
    width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.durak .player-stat-won {
    color: #008000;
    background: #bbf0bb;
}
.durak .player-stat-lost {
    color: #800000;
    background: #ffcaca;
}
.durak .player-stat-drawn {
    color:#444;
    background: #ccc;
}
.durak .player[data-end="winner"] .player-stat-won {
    color: #fff;
    background: #00d000;
}
.durak .player[data-end="loser"] .player-stat-lost {
    color: #fff;
    background: #e00000;
}
.durak .player[data-end="draw"] .player-stat-drawn {
    color: #fff;
    background: #888;
}

.durak .player-status,
.durak .player-end {
    display: none;
    position: absolute;
    left: 26px;
    top: 50px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    background: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-radius: 50%;
    border: 1px solid #888;
}
.durak .player-attacker {
    background-image: url(../image/sword.svg);
}
.durak .player-defender {
    background-image: url(../image/schield.svg);
}
.durak .player-attacker {
    background-image: url(../image/sword.svg);
}
.durak .player-defender {
    background-image: url(../image/schield.svg);
}
.durak .player-message {
    position: absolute;
    left: 50px;
    top: 24px;
    padding: 2px 6px;
    background: #ffe;
    border: 1px solid #999;
    border-radius: 4px;
}
.durak .player-message:before {
    content: "";
    position: absolute;
    left: -5px;
    top: 8px;
    height: 8px;
    width: 8px;
    background: #ffe;
    transform: rotate(45deg);
    border-bottom: inherit;
    border-left: inherit;
    box-shadow: inherit;
}
.durak .player-message:empty {
    display: none;
}

.durak .player-card-counter {
    display: none;
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #222;
    border: 1px solid #888;
    border-radius: 50%;
    z-index: 2;
}
.durak .player-card-counter.empty {
    display: none !important;
}
.durak .player-cards {
    position: absolute;
    left: 0;
    top: 90px;
    width: calc(100% - 20px);
}
.durak .opponent-1 .player-avatar {
    color: #b4b;
    border-color: #80a;
}
.durak .opponent-1 .player-name {
    color: #fdf;
    background: #80a;
}
.durak .opponent-2 .player-avatar {
    color: #089;
    border-color: #088;
}
.durak .opponent-2 .player-name {
    color: #dff;
    background: #088;
}
.durak .opponent-3 .player-avatar {
    color: #c40;
    border-color: #a40;
}
.durak .opponent-3 .player-name {
    color: #fdd;
    background: #a40;
}
.durak .opponent-4 .player-avatar {
    color: #094;
    border-color: #084;
}
.durak .opponent-4 .player-name {
    color: #efe;
    background: #084;
}
.durak .opponent-5 .player-avatar {
    color: #20c;
    border-color: #20a;
}
.durak .opponent-5 .player-name {
    color: #ddf;
    background: #20a;
}

.durak[data-attacker="1"] .opponent-1 .player-avatar,
.durak[data-attacker="1"] .opponent-1 .player-name,
.durak[data-attacker="2"] .opponent-2 .player-avatar,
.durak[data-attacker="2"] .opponent-2 .player-name,
.durak[data-attacker="3"] .opponent-3 .player-avatar,
.durak[data-attacker="3"] .opponent-3 .player-name,
.durak[data-attacker="4"] .opponent-4 .player-avatar,
.durak[data-attacker="4"] .opponent-4 .player-name,
.durak[data-attacker="5"] .opponent-5 .player-avatar,
.durak[data-attacker="5"] .opponent-5 .player-name,
.durak[data-defender="1"] .opponent-1 .player-avatar,
.durak[data-defender="1"] .opponent-1 .player-name,
.durak[data-defender="2"] .opponent-2 .player-avatar,
.durak[data-defender="2"] .opponent-2 .player-name,
.durak[data-defender="3"] .opponent-3 .player-avatar,
.durak[data-defender="3"] .opponent-3 .player-name,
.durak[data-defender="4"] .opponent-4 .player-avatar,
.durak[data-defender="4"] .opponent-4 .player-name,
.durak[data-defender="5"] .opponent-5 .player-avatar,
.durak[data-defender="5"] .opponent-5 .player-name {
    opacity: var(--active-opponent-opacity);
}

.durak[data-attacker="0"] .master .player-attacker,
.durak[data-attacker="1"] .opponent-1 .player-attacker,
.durak[data-attacker="2"] .opponent-2 .player-attacker,
.durak[data-attacker="3"] .opponent-3 .player-attacker,
.durak[data-attacker="4"] .opponent-4 .player-attacker,
.durak[data-attacker="5"] .opponent-5 .player-attacker,
.durak[data-defender="0"] .master .player-defender,
.durak[data-defender="1"] .opponent-1 .player-defender,
.durak[data-defender="2"] .opponent-2 .player-defender,
.durak[data-defender="3"] .opponent-3 .player-defender,
.durak[data-defender="4"] .opponent-4 .player-defender,
.durak[data-defender="5"] .opponent-5 .player-defender {
    display: block;
}

.durak .opponents {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 220px;
}
.durak .opponents .player {
    position: relative;
    width: 100%;
    height: 100%;
}
.durak .opponents .player + .player{
    margin-left: 15px;
}
.durak[data-opponents="1"] .opponent-2,
.durak[data-opponents="1"] .opponent-3,
.durak[data-opponents="1"] .opponent-4,
.durak[data-opponents="1"] .opponent-5,
.durak[data-opponents="2"] .opponent-3,
.durak[data-opponents="2"] .opponent-4,
.durak[data-opponents="2"] .opponent-5,
.durak[data-opponents="3"] .opponent-4,
.durak[data-opponents="3"] .opponent-5,
.durak[data-opponents="4"] .opponent-5 {
    display: none;
}
.durak[data-opponents="2"] .opponents .player {
    width: 50%;
}
.durak[data-opponents="3"] .opponents .player {
    width: 33%;
}
.durak[data-opponents="4"] .opponents .player {
    width: 25%;
}
.durak[data-opponents="5"] .opponents .player {
    width: 20%;
}

.durak .master {
    position: absolute;
    left: 0;
    top: 450px;
    width: 70px;
    height: 100px;
    z-index: 10;
}
.durak .master-action {
    position: absolute;
    left: 2px;
    top: 0;
    width: 62px;
    height: 62px;
    pointer-events: none;
    border-radius: 50%;
    --fill: #ddd;
    --empty: #e0c0c0;
    --rest: 0deg;
    color: #ccc;
    background-color: #ccc;
}
.durak .master-action {
    background-color: var(--empty);
    background-image:
            linear-gradient(180deg, var(--fill) 50%, transparent 50%),
            linear-gradient(var(--rest), var(--fill) 50%, transparent 50%);
}
.durak .master-action.less-half {
    background-color: var(--fill);
    background-image:
            linear-gradient(0deg, var(--empty) 50%, transparent 50%),
            linear-gradient(var(--rest), var(--empty) 50%, transparent 50%);
}
.durak.master .master-action {
    --fill: #a0e0a0;
    --empty: #ffa0a0;
}
.durak .master .player-name {
    top: 125px;
    max-width: none;
    padding: 0;
    background: transparent;
    color: #888;
    text-align: left;
    opacity: 1;
}

.durak .master-action.active {
    color: #00b000;
    cursor: pointer;
    pointer-events: auto;
}
.durak .master-action.active:hover {
    color: #00c000;
}
.durak[data-defender="0"] .master-action.active {
    color: #c00000;
}
.durak[data-defender="0"] .master-action.active:hover {
    color: #e00000;
}
.durak.end .master-action.active {
    color: #08c;
    animation: continue;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.durak.end .master-action.active:hover {
    color: #0ae;
}
@keyframes continue {
    0% {color: #f04;}
    50% {color: #08d; }
}
.durak .master-action .icon-move {
    display: none;
    color: #aaa;
}
.durak .master-action .icon,
.durak.master .master-action .icon-watching,
.durak .master-action.active .icon-watching,
.durak .master .master-action.active .icon-move,
.durak[data-defender="0"] .master-action.active .icon-pass,
.durak.end .master-action.active .icon-pick-up,
.durak.end[data-defender="0"] .master-action.active .icon-pick-up,
.durak.end .master .master-action .icon-pass,
.durak.end .master .master-action .icon-move {
    display: none;
}
.durak .master-action.active .icon-pass,
.durak[data-defender="0"] .master-action.active .icon-pick-up,
.durak.end .master-action.active .icon-continue,
.durak.master .master-action .icon-move {
    display: inline-block;
}

.durak .master-action-icon {
    display: flex;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 50px;
    height: 50px;
    font-size: 32px;
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.durak .master .player-status,
.durak .master .player-end {
    top: -22px;
    left: 17px;
}
.durak .master .player-attacker {
    transform: rotate(-45deg);
}
.durak .master .player-stats {
    position: absolute;
    left: 0;
    top: 86px;
}
.durak .master .player-stat {
    position: static;
    display: inline-block;
}
.durak .master-cards {
    --left: 80px;
    position: absolute;
    left: var(--left);
    top: 440px;
    width: calc(100% - var(--left));
    height: 100px;
}
.durak.master {
    pointer-events: auto;
}
.durak.master .master-action.active {
    cursor: pointer;
    pointer-events: auto;
}

.durak .stock {
    position: absolute;
    right: 0;
    top: var(--center-top);
    height: 100px;
    width: var(--stock-width);
}
.durak .stock-pile {
    position: absolute;
    left: 10%;
    top: 32px;
    height: 100%;
    width: 90%;
}
.durak .stock .trump-stamp {
    left: 30px;
    top: 50px;
}
.durak .table {
    position: absolute;
    left: 0;
    top: var(--center-top);
    height: 100px;
    width: 80%;
}
.durak .table-defense {
    position: absolute;
    left: 20px;
    top: 32px;
    width: calc(100% - 20px);
    height: 100%;
}
.durak .discard {
    position: absolute;
    left: -100px;
    top: var(--center-top);
    height: 84px;
    width: 84px;
}
.durak .player-winner {
    color: #00d000;
    border-color: #00c000;
}
.durak .player-loser {
    color: #a00000;
    border-color: #d00000;
}
.durak .player-draw {
    color: #888;
    border-color: #888;
}
.durak .player[data-end="winner"] .player-winner,
.durak .player[data-end="loser"] .player-loser,
.durak .player[data-end="draw"] .player-draw {
    display: block;
}

.durak .round-message {
    --left: 80px;
    position: absolute;
    left: var(--left);
    top: 410px;
    width: calc(100% - var(--left));
    font-size: 16px;
}
.durak .round-message > div {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.9;
}
.durak .round-message-won {
    color: #0a0;
}
.durak .round-message-lost {
    color: #a00;
}
.durak .round-message-drawn {
    color: #555;
}
.durak .round-message-out {
    color: #468;
}
.durak .round-message[data-status="out"] .round-message-out,
.durak .round-message[data-status="winner"] .round-message-won,
.durak.end .round-message[data-status="loser"] .round-message-lost,
.durak.end .round-message[data-status="draw"] .round-message-drawn {
    display: block;
}
.durak.end .player .player-status,
.durak.end .master .player-status {
    display: none;
}

.durak.show-statuses .player-status {
    display: block;
}
.durak.show-statuses .master .player-attacker {
    transform: none;
}
.durak .turn-status {
    display: none;
    position: absolute;
}
.durak.turning .turn-status {
    display: block;
    z-index: 101;
}
.durak.turning .player .player-status,
.durak .playback-actions,
.durak .playback-actions .playback-action-play,
.durak.paused .playback-action-pause,
.durak.playback .master-action,
.durak .playback-text {
    display: none;
}

.durak.playback .playback-text {
    display: block;
    position: absolute;
    left: 0;
    top: var(--center-top);
    width: 100%;
    z-index: -1;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 7rem;
    text-shadow: 0 0 6px #e0e0e0;
}
.durak.playback .playback-actions {
    display: block;
    pointer-events: auto;
}
.durak .playback-action-play,
.durak .playback-action-pause {
    display: flex;
    position: absolute;
    left: 2px;
    top: 0;
    width: 62px;
    height: 62px;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbb;
    border-radius: 50%;
    background: #fff;
    font-size: 36px;
    cursor: pointer;
    opacity: .8;
}
.durak .playback-action-pause {
    color: var(--danger);
}
.durak.paused .playback-action-play {
    display: flex;
    color: var(--success);
}
.durak .playback-action-play:hover,
.durak .playback-action-pause:hover {
    opacity: 1;
}
.durak .playback-action-start,
.durak .playback-action-end {
    display: flex;
    position: absolute;
    top: 50px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #aaa;
    color: #aaa;
    background: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.durak .playback-action-start {
    left: 0;
}
.durak .playback-action-end {
    right: 0;
}
.durak .playback-action-start:hover,
.durak .playback-action-end:hover {
    color: #666;
}

@media (max-width: 768px) {

    .durak .opponents {
        z-index: 2;
    }
    .durak .opponents .player + .player {
        margin-left: 5px;
    }
    .durak .opponents .player-stats {
        top: 24px;
        left: 58px;
        transform: scale(0.9);
        transform-origin: top left;
    }
    .durak .opponents .player-stat {
        position: relative;
        display: block;
    }
    .durak .opponents .player-stat + .player-stat {
        margin-top: 2px;
    }
    .durak .player-message {
        position: absolute;
        left: 0;
        top: 84px;
    }
    .durak .player-message:before {
        left: 8px;
        top: -5px;
        border-bottom: none;
        border-right: none;
        border-top: inherit;
        border-left: inherit;
    }
    .durak .player-card-counter {
        display: block;
    }
    .durak.playback .playback-text {
        text-align: left;
    }
}
@media (max-width: 480px) {

    .durak .opponents .player-name {
        font-size: 12px;
    }
    .durak .opponents .player-avatar {
        top: 17px;
    }
    .durak .opponents .player-status,
    .durak .opponents .player-end {
        top: 48px;
    }
    .durak .round-message {
        margin-top: 2px;
        font-size: 14px;
    }
    .durak.playback .playback-text {
        text-align: left;
        font-size: 6rem;
    }
}
@media (max-width: 420px) {

    .durak .opponents .player-avatar {
        transform: scale(0.8);
        transform-origin: top left;
    }
    .durak .opponents .player-stats {
        left: 46px;
        transform: scale(0.8);
        transform-origin: top left;
    }
    .durak .opponents .player-message {
        left: 0;
        top: 76px;
        transform: scale(0.9);
        transform-origin: top left;
    }
    .durak .opponents .player-status,
    .durak .opponents .player-end {
        left: 18px;
        transform: scale(0.8);
        transform-origin: top left;
    }
    .durak .master {
        transform: scale(0.8);
        transform-origin: top left;
    }
    .durak .master .player-name {
        top: 155px;
    }
    .durak .master .player-stats {
        top: 100px;
    }
    .durak .master-cards {
        --left: 64px;
    }
    .durak .stock .trump-stamp {
        left: 20px;
    }
    .durak .round-message {
        --left: 48px;
    }
    .durak.playback .playback-replay {
        font-size: 5rem;
    }
}
@media (max-width: 350px) {

    .durak .opponents .player-avatar {
        transform: scale(0.7);
    }
    .durak .opponents .player-stats {
        left: 38px;
    }
    .durak .opponents .player-status,
    .durak .opponents .player-end {
        left: 8px;
        top: 45px;
    }
    .durak .opponents .player-message {
        top: 74px;
        transform: scale(0.8);
    }
    .durak .stock .trump-stamp {
        left: 10px;
    }
}